python-dotenv
pillow
openai
numpy
faiss-cpu # faiss-gpu for linux, using cuda version
torch # pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
transformers
requests
PyMuPDF
python-docx
openpyxl
fastapi
python-multipart
uvicorn
imagehash
pydantic